[flake8]
# Ignoring
# F401: module imported but not used https://www.flake8rules.com/rules/F401.html
# F402: Import module from line n shadowed by loop variable https://www.flake8rules.com/rules/F402.html
per-file-ignores = __init__.py:F401,E402
# Ignoring:
# E501: line too long
# W503: Line break occurred before a binary operator https://www.flake8rules.com/rules/W503.html
# n.b. PEP now recommends linebreak BEFORE operator. see https://peps.python.org/pep-0008/#should-a-line-break-before-or-after-a-binary-operator
# E731: do not assign a lambda expression, use a def
# E203: Whitespace before ':' (E203). (E203 is not PEP 8 compliant and auto formatter will break it)
ignore = E501,W503,E731,E203

exclude = venv,examples,docs,config_schema,.ebrains
