*.code-workspace
*.egg-info
*.gz
*.iml
*.ipynb
*.swo
*.swp
*.swp
*.zip
.*nii
.DS_Store
.env
.idea
.ipynb_checkpoints
.venv/
.vim
.vscode
__Tag_List__
__pycache__
build
dist
docs/_build
docs/_autosummary
docs/autoapi
docs/examples
docs/make.bat
geckodriver.log
venv
docs/_static/*_siibra.svg
