.idea
*.iml
*.gz
*.zip
__pycache__
dist
*.egg-info
build
.*nii
.ipynb_checkpoints
.DS_Store
*.swp
docs/make.bat
docs/_build
venv
.vim
_autosummary
__Tag_List__
*.code-workspace
.vscode
.env
docs/examples
docs/autoapi
docs/_build
*.swp
*.swo
.venv/
geckodriver.log
*.ipynb
