setuptools >= 67.7.2
sphinx == 6.2.1
rtds_action
-r ../requirements.txt
memory-profiler
ipykernel
nbsphinx
pylint
astroid
sphinx-autoapi
IPython
m2r2
sphinx-gallery
plotly
matplotlib >= 3.4.0
sphinx-rtd-theme
sphinx_autopackagesummary
sphinxcontrib.jquery
graphviz
sphinx-copybutton
sphinxcontrib-images
