setuptools >= 67.7.2
sphinx
rtds_action
-r ../requirements.txt
memory-profiler
ipykernel
nbsphinx
pylint
astroid
sphinx-autoapi
IPython
m2r2
sphinx-gallery
plotly
matplotlib >= 3.4.0
sphinx-book-theme
sphinx_autopackagesummary
sphinxcontrib.jquery
graphviz
sphinx-copybutton
sphinxcontrib-images
sphinxcontrib.mermaid
sphinx_togglebutton
sphinx-design
seaborn
