.center { text-align: center; }

.version{
    color:rgb(0, 0, 0) !important;
}

.sphx-glr-thumbcontainer {
    min-height: 2px !important;
    width: 100% !important;
    margin: 0 !important;
}

.sphx-glr-thumbcontainer .figure {
    width: 250px !important;
}
.sphx-glr-thumbcontainer figcaption {
	padding: 10;
}
.sphx-glr-thumbcontainer .caption-text {
}
.sphx-glr-thumbcontainer p {
	text-align: left;
}
.sphx-glr-thumbcontainer img {
    width: 250px !important;
}
.sphx-glr-thumbcontainer a.internal {
    padding: 20px !important;
}
.sphx-glr-thumbcontainer a.headerlink {
    display: none;
	margin: 0;
	padding: 0;
}

.wy-nav-content {
    max-width: 1000px !important;
}
