name: example test
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      python-version:
        required: true
        type: string
      use-cfg:
        required: false
        type: string
        default: ''
      siibra_log_level:
        required: false
        type: string
        default: "INFO_WO_PROGRESS_BARS"
      test_file:
        required: false
        type: string
        default: "examples/test_examples.py, examples/test_tutorials.py"

jobs:
  test_examples:
    runs-on: ${{ inputs.os }}
    env:
      SIIBRA_LOG_LEVEL: ${{ inputs.siibra_log_level }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.python-version }}

    - if: ${{ inputs.use-cfg != '' }}
      uses: './.github/workflows/setup-custom-cfg'
      with:
        siibra-cfg-ref: ${{ inputs.use-cfg }}

    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install -U .
        pip install -r requirements-test.txt
    - name: Install test dependencies
      run:  pip install pytest pytest-cov coverage
    - name: Run test with pytest
      env:
        SIIBRA_LOG_LEVEL: ${{ inputs.siibra_log_level }}
      shell: bash
      run: pytest -rx --durations=5 ${{ inputs.test_file }}
