name: '[cron] test siibra-tutorials'

on:
  schedule:
    - cron: '30 6 1,11,21 * *' # every 1st, 11th, and 21th of every month at 6:30

jobs:
  test_tutorials:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -U .
          pip install -r requirements.txt
          pip install matplotlib
          pip install pytest nbmake

      - name: checkout siibra-tutorials
        uses: actions/checkout@v4
        with:
          repository: FZJ-INM1-BDA/siibra-tutorials
          path:  siibra-tutorials-${{ github.run_id }}-${{ github.run_number }}
          fetch-depth: 1
          clean: True
          ref: 'main'
      
      - name: Test tutorial notebooks with nbmake
        run: pytest --nbmake ./siibra-tutorials-${{ github.run_id }}-${{ github.run_number }}
