name: '[Docs] Build docs and upload artifacts'
on:
  push:
    branches: [ 'main', 'doc_*' ] 
  release:
    types: [ 'published' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  notebooks:
    name: "Build and run the notebooks for the docs"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -U .
          python -m pip install -r ./docs/requirements-doc.txt

      - name: Install apt packages
        run: |
          sudo apt-get install graphviz

      - name: Create diagrams with pyreverse
        run: |
          pyreverse -k  -o dot -p siibra ./siibra --colorized --all-ancestors --output-directory ./docs/_static
          dot -Grankdir=LR -Tsvg ./docs/_static/packages_siibra.dot -o ./docs/_static/packages_siibra.svg
          dot -Grankdir=LR -Tsvg ./docs/_static/classes_siibra.dot -o ./docs/_static/classes_siibra.svg

      - name: Build the docs and execute the notebooks
        run: |
          sphinx-build docs ./docs/_build/

      - uses: actions/upload-artifact@v4
        with:
          name: sphinx-docs-built-in-github-${{ github.sha }}
          path: docs

      - name: Trigger RTDs build
        uses: dfm/rtds-action@v1
        with:
          webhook_url: ${{ secrets.RTDS_WEBHOOK_URL }}
          webhook_token: ${{ secrets.RTDS_WEBHOOK_TOKEN }}
          commit_ref: ${{ github.ref }}